@import url(https://fonts.googleapis.com/css2?family=Secular+One&display=swap);

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h2 {
  vertical-align: center;
  text-align: center;
}

h4 {
  margin-bottom: 30px;
	margin-top: 45px;
	font-size: 17px;
	font-weight: 500;
	color: #fff;
	letter-spacing: 1px;
}

p {
	color: #FFF;
	font-size: 14px;
	line-height: 24px;
}

html, body {
  margin: 0;
  height: 100%;
}

