* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}


h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

.titresection1 {
  font-weight: 800;
  font-size: 36px;
}

.template {
  font-weight: 400;
}

.section1 {
  text-align: center;
  vertical-align: middle;
  padding-top: 35vh;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 653px;
  background-image: url(../img/banner_bg.jpg);
  background-position: center calc(50% + 0px);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  background-color: #121212;
}

.psection1 {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 14px;
  line-height: 24px;
}

.HTML5 {
  color: aqua;
  font-weight: 800;
}

.tinker_section1 {
  color: #f89626;
}

.bouton {
  border: none;
  margin: 4px 2px;
  margin-top: 12%;
  cursor: pointer;
  display: inline-block;
  background-color: #fff;
  font-size: 13px;
  padding: 12px 18px;
  color: #121212;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
}

.map {
  width: 100%;
  height: 500px;
  border: 0;
}